.DetailsNavigationBar {
    display: flex;
    position: fixed;
    font-family: 'Poppins';
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    z-index: 10;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
  }
  .LeftCarat {
    margin-left: 1vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .LeftCarat:hover {
    cursor: pointer;
  }