.NavigationBar {
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
    font-family: 'Poppins';
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    z-index: 10;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
  }
  * {
    scroll-margin-top: 100px;
  }
.left {
  z-index: 20;
  width: 60%;
  float: left;
}
.right{
  display: flex;
  z-index: 20;
  width: 40%;
  justify-content: flex-end;
}
.divLink {
  margin-right: 4vw;
}
.divLink:hover {
  cursor: pointer;
  color: #007C7C;
}
@media (orientation: portrait) {
  .NavigationBar {
    display: none;
  }
}
@media (orientation: landscape) {
  .NavigationBar {
    display: flex;
  }
}